.container {
  display: flex;

  justify-content: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.user-list-header {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  color: purple;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: centre;
  align-items: center;
  width: 300px;
  border: 2px solid blue;
}

.user-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}
