.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  margin-top: 50px;
  background-color: brown;
}

.head-text {
  color: white;
  font-size:xx-large;
  font-weight: 1200px;
}

h1{
  color: blue;
}