body {
  background-color: #c4dfe6;
}

.comment-detail {
  border: 2px solid white;
  margin-bottom: 5px;
  padding: 5px 0px 5px 5px;
}

.author-time {
  display: flex;
  margin: 0;
  padding: 0;
}

.author-time > p {
  margin: 0;
  padding: 0;
  padding-right: 2px;
}

.comment-body {
  width: 800px;
}

.comments-header{
    text-align: center;

}