.article-list-header {
  color: white;
  font-size: 2rem;
  background-color: brown;
  width: 600px;
  margin: 10px;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
}
.article-image {
  width: 300px;
}

.article-card {
  border: 2px solid blue;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.articles-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
